/* Clases generales */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f1f1f1;
    color: #212121;
}

img {
    max-width: 100%;
}

.box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2{
    text-align: center;
}
/* Terminan las clases generales */

/* Empieza el navbar */
.navbar { 
text-align: center;
}

.ul-navbar {
    display: flex;
    justify-content: center;
    margin-right: 2rem;
}

ul > li {
    margin-right: 1rem;
}

li > a {
    color: #212121;
    font-size: 1.2em;
}

li > a:after {
    border-bottom: #212121 1px solid;
    display:block;
    content: ''; 
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

li > a:hover {
    color: #F2BB05;
}

li > a:hover:after {
    transform: scaleX(1);
    transform-origin:0% 50%;
}

/* Termina el navbar */

/* Hero Inicio Empieza*/
.hero {
    background-image: url(img/pexels-pixabay-159291.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

h1 {
    color: #f1f1f1;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 1px 2px rgba(148, 150, 150, 1);
    margin-bottom: 7rem;
    margin-top: 0;
    padding-top: 3rem;
}

.subtitulo {
    color: #f1f1f1;
    text-shadow: 2px 1px 2px rgba(148, 150, 150, 1);
    text-align: center;
    font-size: 18px;
}

.div-btns {
    text-align: center;
    display: flex;
    justify-content: center;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #212121;
    border-radius: 20px;
    background-color: #212121;
    width: 150px;
    height: 3rem;
    margin-top: 5rem;
    margin-right: 1rem;
    color: #D81E5B;
    font-weight: bold;
    font-size: 20px;
}

/* Hero Inicio Termina*/

/* Empieza Imagenes */
.Section-Imagenes {
    padding-bottom: 6rem;
}
.div-img {
    text-align: center;
}

.imagenes {
    max-width: 300px;
    border-radius: 10px;
}

.tiposCervezas {
    text-align: center;
}

/* Termina Imagenes */

/* Empieza Contacto */
div > p {
    text-align: center;
}

.icons {
    color: #D81E5B;
}

.icons:hover {
    color: #F2BB05;
}

.div-map {
    text-align: center;
}

.map {
    max-width: 280px;
    height: 280px;
    text-align: center;
    margin-bottom: 2rem;
}
/* Termina Contacto */
/* Empieza el Footer */
.footer {
    background-color: #212121;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-white {
    color: #f1f1f1;
}

.text-footer {
text-align: center;
}
/* Termina el Footer */

/* Empieza el Sign Up */
.container {
    height: 72vh;
    margin-top: 2rem;
}

.box-signup {
    padding-top: 0.3rem;
    background-color: white;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    box-shadow: 6px 4px 5px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 4px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 5px -2px rgba(0,0,0,0.75);
}

.input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 2.5rem;
    width: 300px;
    margin-bottom: 1rem;
    border: none;
    border-bottom: #212121 1px solid;
}

input:focus {
    outline: none;
}

.btn {
    border-bottom: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: blue;
    cursor: pointer;
}

.div-span { 
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* Termina el Sign Up */

@media(min-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .Section-Imagenes {
        margin-bottom: 2rem;
    }

    .div-img {
        display: flex;
        flex-wrap: wrap;
    }

    .div-align {
        margin-left: auto;
        margin-right: auto;
    }

    .contacto {
        display: flex;
        justify-content: space-around;
    }
}
@media(min-width: 900px) {
    .contacto {
        justify-content: space-between;
    }

    div > p {
        font-size: 20px;
    }
    .map {
        max-width: 500px;
    }
}
@media(min-width: 1200px) {
    h1 {
        font-size: 48px;
    }
    .subtitulo {
        font-size: 30px;
    }
    .hero {
        height: 92vh;
    }
    h2 {
        font-size: 35px;
    }
    .contacto {
        justify-content: space-around;
    }
    div > p {
        font-size: 24px;
    }
    .map {
        height: 400px;
        max-width: 600px;
    }
}
@media(min-width: 1800px) {
    h1 {
        font-size: 56px;
    }
    .hero {
        height: 94vh;
    }
    li > a {
        font-size: 1.6rem;
    }
}